:root {
    --alice-blue: #ecf3f5ff;
    --french-gray: #afbcc2ff;
    --alice-blue-2: #eff6f8ff;
    --charcoal: #193748ff;
    --paynes-gray: #5a707cff;
}

input::placeholder, textarea::placeholder {
    color: var(--french-gray);
    font-size: small;
}

textarea {
    height: 200px;
    resize: vertical;
}

#submit {
    text-transform: lowercase;
}